/* Цвет основного текста #212121
цвет вторичного текста #757575
белый цвет #FFFFFF
цвет лого #000000
Акцент  #2196F3
 цвет контактов rgba(255, 255, 255, 0.6)
 фон цвета фильтра #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --color-white-text: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --font-color-filtr: #f5f4fa;
  --contact-in-footer: rgba(255, 255, 255, 0.6);
}

/* Главная старинца "Студия" */
/* Тело сайта */
body {
  background-color: var(--color-white-text);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* сброс отсутпов и точек в списках */
.padding-list {
  padding-left: 0;
  list-style-type: none;
}

/* Шапка сайта */
/* Логотип */
.logo {
  color: var(--logo-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
}

.logo.color-f {
  color: var(--color-white-text);
}

.logo span {
  color: var(--accent-color);
}

/* Меню */
.menu,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.menu .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}

.menu .link.carrent {
  color: var(--accent-color);
}

/* Контакты */
.contacts .contacts-company {
  color: var(--secondary-text-color);

  text-decoration: none;
}

.contacts .contacts-company:hover,
.contacts .contacts-company:focus,
.contact-in-footer:hover,
.contact-in-footer:focus {
  color: var(--accent-color);
}

/* Тело главной страницы */
/* Превью с заголовком */
.primery {
  background-color: #2f303a;
}

.primery .primery-text {
  color: var(--color-white-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primery .order-service {
  color: var(--color-white-text);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  cursor: pointer;
}

.primery .order-service:hover,
.primery .order-service:focus {
  background: #188ce8;
}

/* Особенности */
.text-delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.feature .feature-text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/* Предоставляемые услуги */

/* Наша команда */
.team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team .profesion {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Футер */
.footer-box {
  background: #2f303a;
}

.locatyon {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: var(--color-white-text);
}

/* Контакты в подвале */
.contact-in-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;

  color: var(--contact-in-footer);
}

/* Стилизация Портфолио */
/* Тело сайта */
/* Фильтр */
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  cursor: pointer;
}

.filter-button .filter-menu {
  padding: 6px 22px;

  background-color: var(--font-color-filtr);
  border-radius: 4px;
}

.filter-button .filter-menu:hover,
.filter-button .filter-menu:focus {
  color: var(--color-white-text);
  background-color: var(--accent-color);

  cursor: pointer;
}

.filter .filter-button:not(:last-child) {
  margin-right: 8px;
}
/* Список проэктов */
.project-linck {
  text-decoration: none;
}

.project-list .name-project {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .product {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
