/* Цвет основного текста #212121
цвет вторичного текста #757575
белый цвет #FFFFFF
цвет лого #000000
Акцент  #2196F3
 цвет контактов rgba(255, 255, 255, 0.6)*/
:root {
    --primary-text-color: var(#212121)
    --title-text-color: var()
}

body {
    color: #212121;
}
